$primary-color: #1a1919;
$secondary-color: #363636;
$tertiary-color: #b0fafa;
$font-stack: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet:  768px;
$laptop: 1024px;
$laptop-l: 1440px;

